@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7b4eb7;
}

.button {
    color: white;
    background-color: red;
    text-decoration: none;
    position: relative;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}

.button:before{
    content: "";    
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: rgba(30, 233, 186, .3);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
    /* 
        transition-property: 
        none
        효과지정않는다. 
        all
        모든속성이 transition효과 받는다. 
        => .button에 변화가 있으면 .button안 모든 속성이 transition내용대로 변화한다.
        property 
        효과를 얻게될 속성을 지정한다. 
        => 만약 .button에 변화가 있을때 width라고 입력하면 width만 transition으로 변화한다. 
           height는 그냥 적용된다.

        ,를 이용해서 둘 이상의 transition속성을 지정할 수 있다.
        transform: all .3s ease, background-color 13s ease;
        => .3초만에 모든 속성 변화, 배경색 13초에 걸쳐 변화


        transition-duration:
        변화의 시간 지정하기


        transition-timing-fuction
        변화가 일어나는 속도를 설정한다.
        liner
        duration동안 일정한 속도로 변화한다.

        ease
        극초반 빠르게, 초반 빠르게 종료지점은 느리게 변화

        ease-in
        시작지점의 변화가 천천히 진행된다.

        ease-out
        종료지점의 변화가 천천히 진행된다.

        ease-in-out
        시작과 종료 변화가 천천히 진행
        
        cubic-bezier(a,b,c,d)
        a b c d 시간 직접 지정
        등등
    */
}

.button span {
    position: relative;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.button:hover {
    color: black;
}

.button:hover:before {
    width: 100%;
    background: #1ee9ba;
}

.button:hover svg {
    stroke: black;
    transform: translateX(0);
    
}

.button:active {
    transform: scale(.85);
}